/*leaflet风格气泡窗口样式模板*/
.leaflet-popup {
    position: absolute;
    text-align: center;
    top:-35px !important;
    left: -10px !important;
    padding:5px;
    padding-right: 13px;
    background: #fff;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-radius: 5px;
}
.leaflet-popup-close-button {
    position: absolute;
    top: 3px;
    right: -2px;
    padding: 4px 4px 0 0;
    text-align: center;
    width: 18px;
    height: 14px;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
}
.leaflet-popup-content-wrapper {
    text-align: center;
    max-height: 200px;
    background: transparent;
    padding: 1px;
    text-align: left;
    border-radius: 3px;
}
.leaflet-popup-content-wrapper code{
    background: transparent;
    color: #c7254e;
    padding: 5px;
    font-size: 14px;
    font-family: sans-serif;
}
.leaflet-popup-content {
    max-width: 300px;
}
.leaflet-popup-tip-container {
    margin: 0 auto;
    margin-left: -5px;
    position: absolute;
    left: 50%;
    bottom: -7px;
}
.leaflet-popup-tip {
    background: transparent;
    width: 10px;
    height: 10px;
    padding: 1px;
    margin: 0 auto;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom: 1px solid rgba(0,0,0,.15);
    border-right: 1px solid rgba(0,0,0,.15);
}
.leaflet-popup-content-wrapper table tr th{
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
.toolListwrap ul{
    margin-top:0px;
    margin-bottom: 0px;
}

/*指南针样式*/
/*
.zhinan {
    position: absolute;
    z-index: 5;
    right: 0.6%;
    top: 71%;
    width: 52px;
    height: 54px;
    background: url(../img/map/zhinanzhen.png) 0% 0% / 266px no-repeat;
}*/

.ol_cesium3d_zhinan button:nth-child(1) {
    position: absolute;
    outline: none;
    border: none;
    background: url(../../../assets/images/olImg/map/zhinanzhen.png) -75px -5px / 266px no-repeat;
    cursor: pointer;
    left: 2px;
    top: 5px;
    z-index: 1;
    width: 15px;
    height: 42px;
    opacity: 1;
}

.ol_cesium3d_zhinan button:nth-child(2) {
    position: absolute;
    outline: none;
    border: none;
    background: url(../../../assets/images/olImg/map/zhinanzhen.png) -56px -4px / 266px no-repeat;
    cursor: pointer;
    left: 19px;
    top: 4px;
    width: 14px;
    height: 44px;
    transform: rotate(0deg);
    opacity: 1;
}

.ol_cesium3d_zhinan button:nth-child(3) {
    position: absolute;
    outline: none;
    border: none;
    background: url(../../../assets/images/olImg/map/zhinanzhen.png) -75px -5px / 266px no-repeat;
    cursor: pointer;
    right: 2px;
    top: 5px;
    z-index: 1;
    width: 15px;
    height: 42px;
    transform: scaleX(-1);
    opacity: 1;
}

.ol_cesium3d_zhinan button:nth-child(1):hover ,.zhinan button:nth-child(3):hover {
    background: url(../../../assets/images/olImg/map/zhinanzhen.png) -89px -5px / 266px no-repeat;
}


/*测量工具的样式*/
.ol_cesium_3d_tool {
    position: absolute;
    height: 45px;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
    border-radius: 3px;
    z-index: 11;
}
.ol_cesium_3d_tool .ol_cesium_toolList {
    height: 45px;
    float: left;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
}
.ol_cesium_3d_tool .ol_cesium_toolList a {
    display: block;
    margin: 10px 0px;
    padding: 0px 8px 0px 10px;
    line-height: 25px;
    height: 25px;
    text-decoration: none;
    color: #5f6477;
    font-size: 12px;
    border-right: 1px dashed #dbdee2;
}
.ol_cesium_3d_tool .ol_cesium_toolList a img {
    vertical-align: middle;
    margin-right: 3px;
}
.ol_cesium_3d_tool .ol_cesium_toolList .toolListwrap {
    position: absolute;
    top: 48px;
    width: 100%;
    height: auto;
    background: #eee;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
    display: none;
    padding-top: 4px;
    z-index: 300;
}
.ol_cesium_3d_tool .ol_cesium_toolList .toolListwrap .wraptriangle {
    position: absolute;
    left: 50%;
    top: -8px;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-bottom: 12px solid #eee;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.ol_cesium_3d_tool .ol_cesium_toolList .toolListwrap ul li {
    height: 30px;
    line-height: 30px;
    color: #5f6477;
    font-size: 14px;
    list-style: none;
}
.ol_cesium_3d_tool .ol_cesium_toolList .toolListwrap ul li:hover {
    background: #ddd;
}
.ol_cesium_3d_tool .ol_cesium_toolList .toolListwrap ul li:not(:last-child) {
    border-bottom: 1px dashed #dbdee2;
}
.ol_cesium_3d_tool .ol_cesium_toolList ul{
    margin-left: -39px;
}
.ol_cesium_distancepan{
    position: absolute;
    height: 39px;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
    border-radius: 3px;
    z-index: 11;
    width: 314px;
    color: black;
    display: none;

}